<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792602781807-oth3v7gu1okbnqt5ufbbne8rh89ibj5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792602781807-oth3v7gu1okbnqt5ufbbne8rh89ibj5g</string>
	<key>API_KEY</key>
	<string>AIzaSyDBb15JnUZsWSaBEI9-g25vr1zwolGs0P0</string>
	<key>GCM_SENDER_ID</key>
	<string>792602781807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nawaqs</string>
	<key>PROJECT_ID</key>
	<string>nawabs-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nawabs-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792602781807:ios:ca82d00cc2f76ec6b3859a</string>
</dict>
</plist>